<div class="chart">
  <h4 *ngIf="title">{{ title }}</h4>
  <svg [attr.viewBox]="'0 0 ' + width + ' ' + height" preserveAspectRatio="xMidYMid meet" role="img">
    <line
      class="baseline"
      [attr.x1]="0"
      [attr.x2]="width"
      [attr.y1]="baselineY()"
      [attr.y2]="baselineY()"
    />
    <g *ngFor="let bar of bars()">
      <rect
        [attr.x]="bar.x"
        [attr.y]="bar.y"
        [attr.width]="bar.width"
        [attr.height]="bar.height"
        [attr.fill]="bar.negative ? negativeColor : positiveColor"
        rx="3"
      />
      <text class="value-label" [attr.x]="bar.x + bar.width / 2" [attr.y]="bar.valueLabelY" text-anchor="middle">
        {{ bar.valueLabel }}
      </text>
      <text class="axis-label" [attr.x]="bar.x + bar.width / 2" [attr.y]="height - 10" text-anchor="middle">
        {{ bar.label }}
      </text>
    </g>
  </svg>
</div>
